doctype html
html 
  head 
    title Ishita Dance acdemy 
    style 
      include ../static/style.css
    body

      nav#navbar
         ul 
             div#logo
                 img(src="/static/dlogo.png")
                 | HBD
           
                
             li  #[a(href="/") Home]
             li  #[a(href="/") About]
             li  #[a(href="/") Services]
             li  #[a(href="/") Class Info]

    section#introSection 
        div  Welcome to Ishita Dance Acedemy 
        div.small  Live Learn Dance Repeat 
    section#missionSection 
        h2 Our mission
        div.card 
             h3 Dance perfection 
             div.card-box
                 div.card-img
                     img(src="/static/img1.png")
                 div.card-content 
                     p This is the best acdemy
        div.card 
             h3 Lets the dance Mahive
              div.card-box
                 div.card-img
                     img(src="/static/dance logo.png")
                 div.card-content 
                     p This is the best acdemy

        div.card 
             h3 Perfection Dance
              div.card-box
                 div.card-img
                     img(src="/static/image2.png")
                 div.card-content 
                     p This is the best acdemy


    section#SponsorSection  
        h2 Our sponsor
        div#Sponsors
             img(src="/static/google logo.png",class="spImage")
             img(src="/static/facebook logo.png",class="spImage")
             img(src="/static/twitter logo.jpg",class="spImage")
             img(src="/static/windows logo.png",class="spImage")
    footer#footer 
        |  Copyright 2022 IshitaDanceAcdemy.com|All rights is preserved